﻿body
{
}
form{
	margin-top:0px;
}
.shadow
{
    background-color: #CCFF99;
}
.com{
 margin-left:5px;
}

.Ql{
margin-top:5px;
display:block;
clear:right;
}
.Ab{
margin-top:5px;
margin-left:25px;
}
.btn{
clear:left;
margin-right:15px;
}
.resultPass
{
    display:block;
    margin-top:20px;
    margin-bottom:20px;
    border: thick ridge #00FF00;
    font-weight: bold;
    color: #008000;
}
.resultfail
{
    display:block;
    margin-top:20px;
    margin-bottom:20px;
    border: thick ridge #F20000;
    font-weight: bold;
    color: #CC3300;
}
.linkR{
    text-align:center;
    display:block;
    clear:left;
    margin-left:10px;
}
.lbl4{
font-size:smaller;
float:right;
}
.image{
float:left;
display:inline;
margin-right:5px;
margin-bottom:10px;
}
.radioB{
display:inline;
margin-bottom:10px;
}