﻿
#container{
	margin-left:9%;
	width:100%;
    margin-right:9%;
}
#left{
	float:left;
	display:inline-block;
}
#right{
	width:100%;
	display:inline-block;
}
.roadI{
    width:180px;
}
#Btext{
font-family: Calibri, Trebuchet MS, sans-serif;
}
h3{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Calibri, Trebuchet MS, sans-serif;
    font-size:medium;
}
ul{
margin-top:0px;
}
#bar{
	border-top-style:solid;
	border-top-width:5px;
	border-top-color:#FB9700;
    background-color:#D9D9E6;
    padding-bottom:4px;
    padding-top:0px;
}
ul.inl{
    margin-top:0px;
    padding-top:4px;
    display:inline;
    list-style-type: none;
}
li.inl
{
    font-family: 'Times New Roman' , Times, serif;
    float: left;
    margin-right: 8px;
    margin-top:0px;
    padding-top:0px;
}

a.link{
	color:black;
	text-decoration:none;
	font-size:medium;
}
a:hover.link{
    height:6px;
    padding-top:1px;
    padding-bottom:1px;
	background-color:#FB9700;
}
.cont
{
            width:50px;
            position:absolute;
            z-index: 10;
            top: 125px;
            left: 700px;
            visibility:hidden;
}
