﻿#container{
	margin-left:6%;
	width:88%;
	margin-right:6%;
}
#left{
	float:left;
	display:inline-block;
}
#right{
	width:80%;	
	display:inline-block;
}
.roadI{
width:170px;
}
.title
{
    color:black;
    padding-bottom:3px;
    padding-top:3px;
    text-align: center;
    background-color: #FCB431;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    font-family: 'Courier New' , Courier, monospace;
}
.title2
{
    color: #3399FF;
    padding-bottom: 3px;
    padding-top: 3px;
    text-align: center;
    background-color: #FCB431;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    font-family: 'Courier New' , Courier, monospace;
}
.subTitle{
	color: #7C8DD3;
	padding-bottom:5px;
	padding-top:5px;
	font-size:medium;
}
#bar{
	border-top-style:solid;
	border-top-width:7px;
	border-top-color:#FB9700;
    background-color:#D9D9E6;
    padding-bottom:6px;
    padding-top:3px;
}
ul.inl{
    display:inline;
    list-style-type: none;
}
li.inl
{
    font-family: 'Times New Roman' , Times, serif;
    float: left;
    margin-right: 8px;
}

a.link{
	color:black;
	text-decoration:none;
	font-size:large;
}
a:hover.link{
    padding-top:5px;
    padding-bottom:1px;
	background-color:#FB9700;
}

a:hover{
	font-style:italic;
}
h3
{
    margin-top: 2px;
    margin-bottom: 1px;
    font-family: Calibri, Trebuchet MS, sans-serif;
    font-size:large;
}
ul{
margin-top:5px;
}
li
{
    font-size:medium;
    font-family:Calibri, Trebuchet MS, sans-serif;
}
a.nondec{
text-decoration:none;
}
a:hover.nondec{
color:#FB9700;
}
.cont
{
            width:50px;
            position: fixed;
            z-index: 10;
            top: 125px;
            left: 700px;
            visibility:hidden;
}



