﻿<%@ Page Title="" Language="C#" MasterPageFile="~/index.master" AutoEventWireup="true" CodeFile="feedback.aspx.cs" Inherits="feedback" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentBody" Runat="Server">
<script type="text/javascript">
function max50(){
    var textA = document.getElementById("<%=TextArea1.ClientID%>");
    var lit = document.getElementById("Lit");
    lit.innerHTML = textA.value.length;
    if (textA.value.length > 80) {
        textA.blur();
        textA.readOnly = "readonly";
        lit.innerHTML = "max 80 characters !"
    }
}

</script>
    <asp:Panel ID="Panel1" runat="server">
&nbsp;<asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" 
    ControlToValidate="TextArea1" ErrorMessage="Feedback Required"></asp:RequiredFieldValidator>
<br />
        <textarea ID="TextArea1" name="S1" runat="server" onkeyup="max50()"
            style="width: 411px; height: 236px" cols="30" rows="20"></textarea><br />
        <span id="Lit" style="color:Maroon"></span>
<br />
<asp:Button ID="Button1" runat="server" Text="SAVE" onclick="Button1_Click" />
    </asp:Panel>

</asp:Content>

