﻿<%@ Page Title="" Language="C#" MasterPageFile="~/index.master" AutoEventWireup="true" CodeFile="Login.aspx.cs" Inherits="Login" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentBody" Runat="Server">
<h3>Please enter your user name and password to proceed</h3>
    <asp:Login ID="Login1" runat="server" 
        DestinationPageUrl="~/admin_pages/viewFeedback.aspx">
    </asp:Login>
</asp:Content>

