<%@ Page Title="" Language="C#" MasterPageFile="~/index.master" AutoEventWireup="true" CodeFile="map.aspx.cs" Inherits="map"%>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentBody" Runat="Server">
<script type='text/javascript' language="javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=6.2&mkt=en-us"></script>
<span style="font-family: Calibri, Trebuchet MS, sans-serif;font-size:medium; margin-left:2px;font-weight:bold;">Educational Map!</span>
<div id='myMap' style="position:relative; width:350px; height:310px;border:#555555 2px solid; margin-left:2px;"></div>
</asp:Content>

