﻿<%@ Page Title="" Language="C#" MasterPageFile="~/index.master" AutoEventWireup="true" CodeFile="name.aspx.cs" Inherits="name" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentBody" Runat="Server">
    <p>
        Welcome to the States flags test:</p>
    <p>
        To begin please enter a nickname:&nbsp;
        <asp:TextBox ID="nn" runat="server" MaxLength="14" 
            ToolTip="Enter a Nickname"></asp:TextBox>
        &nbsp;<asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" 
            ControlToValidate="nn" ErrorMessage="RequiredFieldValidator">Nickname REQUIRED</asp:RequiredFieldValidator>
        </p>
    <p>
        <asp:Button ID="Button1" runat="server" Text="Start" onclick="Button1_Click" />
        </p>
</asp:Content>

